@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chomiku3D';
  src: url('/fonts/Chomiku3D.otf') format('opentype');
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

.font-chomiku {
  font-family: 'Chomiku3D', sans-serif;
}

.touch-manipulation {
  touch-action: manipulation;
}

.touch-none {
  touch-action: none;
}

.select-none {
  user-select: none;
}